* {
  box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(220, 227, 230);
    font-family: sans-serif;
    color: rgb(101 101 101);
    flex-direction: column;
}
.container {
  margin-top: 10%;
}
.dropInput {
  position: relative;
}
.input {
  position: relative;
}
.input input {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 14px;
  font-size: 19px;
  background-color: rgb(228, 236, 240);
  box-shadow: 0 0 16px rgb(0 0 0 / 7%);
  border-radius: 10px;
  color: rgb(101 101 101);
}
.input::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  top: 18px;
  transform: rotate(45deg);
  border-right: solid 2px rgb(128, 128, 128);
  border-bottom: solid 2px rgb(128, 128, 128);
  transition: 0.3s;
  right: 18px;
}
.input.active.input::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  top: 21px;
  transform: rotate(226deg);
  border-right: solid 2px rgb(128, 128, 128);
  border-bottom: solid 2px rgb(128, 128, 128);
  transition: 0.3s;
  right: 18px;
}
.options {
  margin-top: 10px;
  width: 100%;
  font-size: 19px;
  background-color: rgb(228, 236, 240);
  box-shadow: 0 0 16px rgb(0 0 0 / 7%);
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s;
  opacity: 0;
  transform-origin: top;
  transform: rotateX(90deg);
}
.options.active {
  transform: rotateX(0deg);
  opacity: 1;
}
.options .option {
  padding: 9px 13px;
  transition: 0.1s;
}
.options .option:hover {
  background-color: rgb(0, 183, 255);
  color: white;
  cursor: pointer;
}
